<tr>
  <td>{{name}}</td>
  <td>{{brewery.name}}</td>
  <td>{{country.name}}</td>
  <td>{{style.name}}</td>
  <td>{{abv}}%</td>
  <td>{{votes}}</td>
  <td>{{avgRating}}</td>
  <td><a href="#/details" type="button" class="btn btn-dark w-100 mt-1 font-weight-bold">DETAILS</a></td>
</tr>